* {
    margin: 0;
}

body {
    background-color: #FFF7F5;
}

.index-meni {
    margin-top: 300px;
    margin-left: 450px;
}

.index-meni button {
    height: 150px;
    font-size: 45px;
}

.table {
    font-size: 25px;
    width: 1300px;
    margin-top: 30px;
    margin-left: 170px;
}

#btn_dodaj {
    width: 400px;
    height: 50px;
    margin-left: 750px;
    margin-top: 40px;
    font-size: 25px;
}

.forma {
    font-size: 25px;
    width: 550px;
    margin-left: 650px;
    margin-top: 30px;
}

#dodaj_dugme {
    margin-top: 15px;
    width: 550px;
    height: 45px;
}

.pocetna {
    width: 500px;
}

#izmeni_dugme {
    margin-top: 15px;
    width: 550px;
    height: 45px;
}