* {
    margin: 0;
}

body {
    background-color: #FFF7F5;
}

.index-meni {
    margin-top: 300px;
    margin-left: 450px;
}

.index-meni button {
    height: 150px;
    font-size: 45px;
}

.table {
    font-size: 25px;
    width: 1300px;
    margin-top: 30px;
    margin-left: 170px;
}

#btn_dodaj {
    width: 400px;
    height: 50px;
    margin-left: 750px;
    margin-top: 40px;
    font-size: 25px;
}

.forma {
    font-size: 25px;
    width: 550px;
    margin-left: 650px;
    margin-top: 30px;
}

#dodaj_dugme {
    margin-top: 15px;
    width: 550px;
    height: 45px;
}

.pocetna {
    width: 500px;
}

#izmeni_dugme {
    margin-top: 15px;
    width: 550px;
    height: 45px;
}

.pretraga {
    display: flex;
    margin-top: 35px;
    margin-left: 650px;
}

#input_pretraga {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
}

#pretraga-rez {
    margin-left: 350px;
}

.sortiranje {
    display: flex;
    margin-top: 30px;
}

#k_sort {
    width: 200px;
    margin-right: 25px;
}

#kol {
    margin-left: 630px;
    margin-right: 5px;
}

#s_sort {
    width: 200px;
    margin-right: 20px;
    margin-left: 5px;
}